server:
  port: 8071

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka
  instance:
    preferIpAddress: true

spring:
  application:
    name: config-server # 服务名称
  devtools:
    livereload:
      port: 35723 # 默认是35729，如果开发环境中运行多个项目都用devtools，这个端口会冲突，需要改成不同的
  cloud:
    config:
      server:
        git:
          uri: file://web/config-repo
      uri: http://127.0.0.1:8071

logging:
  file: target/app.log
  level:
    ROOT: ERROR
    cn.devmgr: TRACE